[Desktop Entry]
Encoding=UTF-8
Name=Screen Resolution
Name[af]=Skermresolusie
Name[ar]=استبانة الشاشة
Name[az]=Ekran Həllediciliyi
Name[be]=Разрозьнене экрана
Name[bg]=Разделителна способност
Name[bn]=স্ক্রিনের রেজলুশন
Name[bs]=Rezolucija ekrana
Name[ca]=Resolució de la pantalla
Name[cs]=Rozlišení obrazovky
Name[cy]=Cydraniad y Sgrîn
Name[da]=Skærmopløsning
Name[de]=Bildschirmauflösung
Name[el]=Ανάλυση Οθόνης
Name[en_CA]=Screen Resolution
Name[en_GB]=Screen Resolution
Name[es]=Resolución de la pantalla
Name[et]=Ekraani eraldusvõime
Name[eu]=Pantailaren bereizmena
Name[fi]=Näytön tarkkuus
Name[fr]=Résolution de l'écran
Name[gu]=સ્ક્રીન રીઝોલ્યુશન
Name[he]=רזולוציית מסך
Name[hi]=स्क्रीन रेज़ोल्यूशन
Name[hr]=Razlučivost zaslona
Name[hu]=Képernyő felbontása
Name[is]=Skjáupplausn
Name[it]=Risoluzione dello schermo
Name[ja]=画面の解像度
Name[ko]=화면 해상도
Name[lt]=Ekrano raiška
Name[mk]=Резолуција на екранот
Name[mn]=Дэлгэцийн нарийвчилал
Name[ms]=Resolusi Skrin
Name[nb]=Skjermoppløsning
Name[nl]=Schermresolutie
Name[nn]=Skjermoppløysing
Name[no]=Skjermoppløsning
Name[pa]=ਪਰਦੇ ਦਾ ਰੈਜੋਲੇਸ਼ਨ
Name[pl]=Rozdzielczość ekranu
Name[pt]=Resolução de Ecrã
Name[pt_BR]=Resolução de Tela
Name[ro]=Rezoluţie ecran
Name[ru]=Разрешение экрана
Name[sk]=Rozlíšenie obrazovky
Name[sl]=Ločljivost zaslona
Name[sq]=Përmasat e ekranit
Name[sr]=Резолуција екрана
Name[sr@Latn]=Rezolucija ekrana
Name[sv]=Skärmupplösning
Name[ta]=திரை நுணுக்கம்
Name[th]=ความละเอียดของจอ
Name[tr]=Ekran Çözünürlüğü
Name[uk]=Параметри екрану
Name[vi]=Độ phân giải màn hình
Name[zh_CN]=屏幕分辨率
Name[zh_TW]=螢幕解析度
Comment=Change screen resolution
Comment[af]=Verander skermresolusie
Comment[ar]=تغيير استبانة الشاشة
Comment[az]=Ekran həlleciliyini dəyişdir
Comment[be]=Зьмяніць разрозьнене экрана
Comment[bg]=Промяна на разделителната способност на екрана
Comment[bn]=স্ক্রিনের রেজলুশন পরিবর্তন করুন
Comment[bs]=Promijeni rezoluciju ekrana
Comment[ca]=Canvia la resolució de la pantalla
Comment[cs]=Změnit rozlišení obrazovky
Comment[cy]=Newid cydraniad y sgrîn
Comment[da]=Skift skærmopløsning
Comment[de]=Bildschirmauflösung ändern
Comment[el]=Αλλαγή ανάλυσης οθόνης
Comment[en_CA]=Change screen resolution
Comment[en_GB]=Change screen resolution
Comment[es]=Cambiar la resolución de la pantalla
Comment[et]=Muuda ekraani eraldusvõimet
Comment[eu]=Aldatu pantailaren bereizmena
Comment[fi]=Muuta näytön tarkkuutta
Comment[fr]=Changer la résolution de l'écran
Comment[gu]=સ્ક્રીન રીઝોલ્યુશન બદલો
Comment[he]=שנה את רזולוציית המסך
Comment[hi]=स्क्रीन रेज़ोल्यूशन बदलें
Comment[hr]=Promijeni rezoluciju zaslona
Comment[hu]=Képernyő felbontásának megváltoztatása
Comment[is]=Breyta skjáupplausn
Comment[it]=Cambia la risoluzione dello schermo
Comment[ja]=画面の解像度を変更します
Comment[ko]=화면 해상도 바꾸기
Comment[lt]=Pakeisti ekrano raišką
Comment[mk]=Промени ја резолуцијата на екранот
Comment[mn]=Дэлгэцийн нарийвчилал өөрчилөх
Comment[ms]=Tukar resolusi skrin
Comment[nb]=Endre oppløsning for skjermen
Comment[nl]=Schermresolutie veranderen
Comment[nn]=Endra skjermoppløysing
Comment[no]=Endre oppløsning for skjermen
Comment[pa]=ਪਰਦੇ ਦਾ ਰੈਜੋਲੇਸ਼ਨ
Comment[pl]=Zmiana rozdzielczości ekranu
Comment[pt]=Alterar resolução de ecrã
Comment[pt_BR]=Mudar a resolução da tela
Comment[ro]=Schimbaţi rezoluţia ecranului
Comment[ru]=Смена разрешения экрана
Comment[sk]=Zmeniť rozlíšenie obrazovky
Comment[sl]=Spremeni ločljivost zaslona
Comment[sq]=Ndrysho përmasat e ekranit
Comment[sr]=Промена резолуције екрана
Comment[sr@Latn]=Promena rezolucije ekrana
Comment[sv]=Ändra skärmupplösning
Comment[ta]=திரை நுணுக்கத்தை மாற்றவும்
Comment[th]=เปลี่ยนความละเอียดของจอ
Comment[tr]=Ekran çözünürlüğünü değiştir
Comment[uk]=Зміна параметрів екрану
Comment[vi]=Thay đổi độ phân giải màn hình
Comment[zh_CN]=更改屏幕分辨率
Comment[zh_TW]=更改螢幕解析度
Exec=gnome-display-properties
Icon=display-capplet.png
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;Settings;Hardware;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=control-center
X-GNOME-Bugzilla-Component=display properties
