[Desktop Entry]
Encoding=UTF-8
Name=Mouse
Name[af]=Muis
Name[ar]=الفأرة
Name[az]=Siçan
Name[be]=Мыш
Name[bg]=Мишка
Name[bn]=মাউস
Name[bs]=Miš
Name[ca]=Ratolí
Name[cs]=Myš
Name[cy]=Llygoden
Name[da]=Mus
Name[de]=Maus
Name[el]=Ποντίκι
Name[en_CA]=Mouse
Name[en_GB]=Mouse
Name[es]=Ratón
Name[et]=Hiir
Name[eu]=Sagua
Name[fi]=Hiiri
Name[fr]=Souris
Name[ga]=Luchóg
Name[gl]=Rato
Name[gu]=માઉસ
Name[he]=עכבר
Name[hi]=माउस
Name[hr]=Miš
Name[hu]=Egér
Name[id]=Mouse
Name[is]=Mús
Name[it]=Mouse
Name[ja]=マウス
Name[ko]=마우스
Name[lt]=Pelė
Name[lv]=Pele
Name[mk]=Глушец
Name[ml]=മൌസ്
Name[mn]=Хулгана
Name[ms]=Tetikus
Name[nb]=Mus
Name[nl]=Muis
Name[nn]=Mus
Name[no]=Mus
Name[pa]=ਮਾਊਸ
Name[pl]=Mysz
Name[pt]=Rato
Name[pt_BR]=Mouse
Name[ro]=Mouse
Name[ru]=Мышь
Name[sk]=Myš
Name[sl]=Miška
Name[sq]=Miu
Name[sr]=Миш
Name[sr@Latn]=Miš
Name[sv]=Mus
Name[ta]=சுட்டி
Name[th]=เมาส์
Name[tr]=Fare
Name[uk]=Миша
Name[vi]=Chuột
Name[wa]=Sori
Name[zh_CN]=鼠标
Name[zh_TW]=滑鼠
Comment=Set your mouse preferences
Comment[af]=Stel jou muisvoorkeure in
Comment[ar]=اضبط تفضيلات فأرتك
Comment[az]=Siçanınızın qurğularını seçin
Comment[be]=Усталяваньне перавагаў для вашае мышы
Comment[bg]=Настройки на Вашата мишка
Comment[bn]=মাউস সম্পর্কিত পছন্দ নির্ধারণ করুন
Comment[bs]=Postavite opcije za miša
Comment[ca]=Estableix les preferències del ratolí
Comment[cs]=Nastavte vlastnosti vaší myši
Comment[cy]=Gosodwch eich hoffterau llygoden
Comment[da]=Vælg indstillinger for mus
Comment[de]=Die Mauseinstellungen festlegen
Comment[el]=Καθορισμός προτιμήσεων ποντικιού
Comment[en_CA]=Set your mouse preferences
Comment[en_GB]=Set your mouse preferences
Comment[es]=Establece sus preferencias del ratón
Comment[et]=Hiire häälestus
Comment[eu]=Ezarri zure saguaren hobespenak
Comment[fa]=تنظیم ترجیحات ماوس
Comment[fi]=Muuta hiiriasetuksia
Comment[fr]=Règle les paramètres de votre souris
Comment[ga]=Roghnaigh do álbachtaí luchóg
Comment[gu]=તમારા માઉસની પસંદગીઓ ગોઠવો
Comment[he]=קבע את העדפות העכבר שלך
Comment[hi]=अपने माउस की वरीयताएँ नियत करें
Comment[hr]=Podešavanje postavki miša
Comment[hu]=Egér beállításai
Comment[id]=Atur mouse Anda
Comment[is]=Stilltu músina
Comment[it]=Imposta le preferenze del mouse
Comment[ja]=マウスの設定を行います
Comment[ko]=마우스 기본 설정을 설정합니다
Comment[lt]=Keisti pelės nustatymus
Comment[lv]=Uzstādīt jūsu peles preferences
Comment[mk]=Подесете ги параметрите за глушецот
Comment[ml]=മൌസ് മുന്‌ഗണനകള് രേഖപ്പെടുത്തുക
Comment[mn]=Хулганы тохируулга хийх
Comment[ms]=Tetapkan keutamaan tetikus
Comment[nb]=Sett dine brukervalg for mus
Comment[nl]=Uw muisvoorkeuren instellen
Comment[nn]=Still inn brukarvala dine for musa
Comment[no]=Sett dine brukervalg for mus
Comment[pa]=ਆਪਣੇ ਮਾਊਸ ਦੀ ਪਸੰਦ ਨਿਰਧਾਰਿਤ ਕਰੋ
Comment[pl]=Ustawienia myszy
Comment[pt]=Defina as suas preferências do rato
Comment[pt_BR]=Definir suas preferências de mouse
Comment[ro]=Schimbaţi setările pentru mouse
Comment[ru]=Диалог настройки мыши
Comment[sk]=Nastavenie myši
Comment[sl]=Nastavi lastnosti miške
Comment[sq]=Zgjidh preferimet e miut
Comment[sr]=Подесите вашег миша
Comment[sr@Latn]=Podesite vašeg miša
Comment[sv]=Ställ in dina musinställningar
Comment[ta]=உங்கள் சுட்டியின் பண்புகளை அமைக்கவும்
Comment[th]=ปรับแต่งค่าตั้งสำหรับเมาส์
Comment[tr]=Fare tercihlerini yapın
Comment[uk]=Встановлення параметрів миші
Comment[vi]=Lập các tùy thích cho chuột
Comment[wa]=Defini vos preferinces pol sori
Comment[zh_CN]=设置鼠标首选项
Comment[zh_TW]=修改滑鼠偏好設定
Exec=gnome-mouse-properties
Icon=gnome-dev-mouse-optical
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;Application;Hardware;Settings;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=control-center
X-GNOME-Bugzilla-Component=mouse
