[Desktop Entry]
Encoding UTF-8
Name=PalmOS Devices
Name[az]=PalmOS Avadanlıqları
Name[cs]=Zařízení PalmOS
Name[cy]=Dyfeisiau PalmOS
Name[en_CA]=PalmOS Devices
Name[en_GB]=PalmOS Devices
Name[es]=Dispositivos PalmOS
Name[hu]=PalmOS eszközök
Name[ja]=PalmOS のデバイス
Name[ko]=PalmOS 장치
Name[ms]=Peranti PalmOS
Name[nb]=PalmOS-enheter
Name[nl]=PalmOS apparaten
Name[no]=PalmOS-enheter
Name[pa]=PalmOS ਯੰਤਰ
Name[pl]=Urządzenia z systemem PalmOS
Name[pt_BR]=Dispositivos PalmOS
Name[sk]=Zariadenia PalmOS
Name[sr]=ПалмОС уређаји
Name[sr@Latn]=PalmOS uređaji
Name[sv]=PalmOS-enheter
Name[zh_CN]=PalmOS 设备
Comment=Configure PalmOS devices
Comment[az]=PalmOS avadanlığını qiraşdır
Comment[cs]=Nastavit zařízení PalmOS
Comment[cy]=Cyflunio dyfeisiau PalmOS
Comment[en_CA]=Configure PalmOS devices
Comment[en_GB]=Configure PalmOS devices
Comment[es]=Configurar dispositivos PalmOS
Comment[ja]=PalmOS デバイスの設定を行います
Comment[ko]=PalmOS 장치 설정
Comment[ms]=Buat konfigurasi pada peranti PalmOS
Comment[nb]=Konfigurer PalmOS-enheter
Comment[nl]=ParmOs apparaten configureren
Comment[no]=Konfigurer PalmOS-enheter
Comment[pa]=PalmOS ਯੰਤਰ ਨੂੰ ਰੂਪ ਦਿਓ
Comment[pl]=Skonfiguruj urządzenia PalmOS
Comment[pt_BR]=Configurar os dispositivos do PalmOS
Comment[sk]=Konfigurácia zariadení PalmOS
Comment[sr]=Подеси ПалмОС уређаје
Comment[sr@Latn]=Podesi PalmOS uređaje
Comment[sv]=Konfigurera PalmOS-enheter
Comment[zh_CN]=配置 PalmOS 设备
Exec=gpilotd-control-applet
Icon=gnome-palm.png
Terminal=false
Type=Application
Icon=gnome-palm.png
Categories=GNOME;Application;Hardware;Settings;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-pilot
X-GNOME-Bugzilla-Component=capplet
