Package: gelux-meta-office
Version: 0.1-29
Section: misc
Priority: optional
Architecture: all
Installed-Size: 24
Maintainer: Olivier Evalet <evaleto@programmers.ch>
Source: gelux-meta-module
Description: gelux meta office
 XML description of the gelux office content
