[Desktop Entry]
Name=Network information
Comment=Network information tools
Exec=gnome-netinfo
Icon=gnome-netinfo.png
Terminal=0
Type=Application
Categories=Application;Settings;Network;
