Source: gelux-server-conf
Section: misc
Priority: optional
Maintainer: Olivier Evalet <evaleto@programmers.ch>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.1.0

Package: gelux-server-conf
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Gelux configuration for server
 This package contains configuration files to set up a server
