Source: gelux-artwork
Section: misc
Priority: optional
Maintainer: Olivier Evalet <evaleto@programmers.ch>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.1.0

Package: gelux-artwork
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: GeluX Artwork
 GeluX Artwork.
