# This is not really a .desktop file like the rest, but it's useful to treat
# it as such

[GdmGreeterTheme]
Encoding=UTF-8
Greeter=sakura.xml
Name=sakura
Description=svg cherry blossom theme - see the README
Author=Ben "steelgryphon" Cobb
Copyright=(c) 2004 steelgryphon
Screenshot=gdm_shot.png
