[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Install GeluX 
Name[fr]=Installation de GeluX
Comment=Install GeluX  
Comment[fr]=Installer GeluX
Type=Application
Categories=Application;Core;
Exec=gksu /usr/bin/gelux-installer
Terminal=false
Icon=gnome-devel
