Package: gelux-server-init
Version: 3.0-20
Section: misc
Priority: optional
Architecture: all
Installed-Size: 121
Maintainer: Olivier Evalet <evaleto@programmers.ch>
Source: gelux-main-init
Description: Gelux mainmod server  boot scripts
 This package contains the default boot scripts for a Server
 mainmodule.
