Package: gelux-nis-conf
Version: 0.4-14
Section: misc
Priority: optional
Architecture: all
Depends: gelux-main-conf, gelux-nis-init, nis, dhcp3-client
Installed-Size: 20
Maintainer: Olivier Evalet <evaleto@programmers.ch>
Source: gelux-main-conf
Description: samba configuration
 This configuration is done once
