[Desktop Entry]
Encoding=UTF-8
Name=Removable Storage
Name[ar]=مخزن قابلة للإزالة
Name[az]=Çıxarıla Bilən Yaddaş
Name[bg]=Преносими носители
Name[bn]=অপসারণযোগ্য সংরক্ষণস্থল
Name[bs]=Izmjenjivi smještaj podataka
Name[ca]=Emmagatzemament extraïble
Name[cs]=Výměnná média
Name[da]=Flytbart lager
Name[de]=Wechseldatenträger
Name[el]=Αφαιρούμενοι δίσκοι
Name[en_CA]=Removable Storage
Name[en_GB]=Removable Storage
Name[es]=Almacenamiento extraíble
Name[eu]=Biltegiratze aldagarria
Name[fi]=Irrotettava massamuisti
Name[fr]=Stockage amovible
Name[gu]=દૂર કરી શકાય તેવું સંગ્રહસ્થાન
Name[hr]=Prenosivi uređaji za pohranu
Name[hu]=Cserélhető adathordozók
Name[is]=Fjarlægjanleg gagnahirsla
Name[it]=Memoria di massa rimovibile
Name[ja]=リムーバブル・ストレージ
Name[ko]=이동식 저장장치
Name[lt]=Išimamos laikmenos
Name[ms]=Storan boleh tanggal
Name[nb]=Avtagbar lagring
Name[nl]=Verwijderbare opslag
Name[no]=Avtagbar lagring
Name[pa]=ਵੱਖ ਹੋਣਯੋਗ ਸਟੋਰੇਜ਼
Name[pl]=Nośniki wymienne
Name[pt]=Armazenamento Removível
Name[pt_BR]=Armazenamento Removível
Name[sq]=Kujtesë mase (storage) e heqshme
Name[sr]=Измењиви дискови
Name[sr@Latn]=Izmenjivi diskovi
Name[sv]=Löstagbara lagringsenheter
Name[ta]=நீக்ககூடிய சேமிப்புகள்
Name[th]=อุปกรณ์เก็บข้อมูลถอดเสียบ
Name[tr]=Ayrılabilir Depo
Name[uk]=Змінний накопичувач
Comment=Configure Management of Removable Devices
Comment[ar]=إعداد إدارة الأجهزة القابلة للإزالة
Comment[az]=Çıxarıla Bilən Avadanlıqların İdarəsini Quraşdır
Comment[bg]=Настройване на управлението на преносими устройства
Comment[bn]=অপসারণযোগ্য ডিভাইস পরিচালনা সংক্রান্ত বিষয় কনফিগার করুন
Comment[bs]=Podesi upravljanje izmjenjivih uređaja
Comment[ca]=Configura la gestió de dispositius extraïbles
Comment[cs]=Nastavit správu výměnných zařízení
Comment[da]=Konfigurér håndteringen af flytbare enheder
Comment[de]=Die Verwaltung von Wechseldatenträgern konfigurieren
Comment[el]=Ρύθμιση διαχείρισης αφαιρούμενων συσκευών
Comment[en_CA]=Configure Management of Removable Devices
Comment[en_GB]=Configure Management of Removable Devices
Comment[es]=Configurar gestión de dispositivos extraíbles
Comment[eu]=Konfiguratu gailu aldagarrien kudeatzailea
Comment[fi]=Muokkaa irrotettavien laitteiden hallinta-asetuksia
Comment[fr]=Configure la gestion des périphériques amovibles
Comment[gu]=દૂર કરી શકાય તેવા ઉપકરણોની વ્યવસ્થા રુપરેખાંકિત કરો
Comment[hr]=Podešavanje upravaljanja pokretnim uređajima
Comment[hu]=Cserélhető eszközök kezelésének beállítása
Comment[is]=Stilla meðhöndlun á fjarlægjanlegum einingum
Comment[it]=Configura la gestione dei dispositivi rimovibili
Comment[ja]=リムーバブル・デバイス管理を設定します
Comment[ko]=이동식 저장장치를 관리하고 설정합니다
Comment[lt]=Konfigūruokit įšimamų įrenginių valdymą
Comment[ms]=Konfigurasikan Pengurusan bagi Peranti Bolehtanggal
Comment[nb]=Konfigurer håndtering av avtagbare enheter
Comment[nl]=Beheer van verwijderbare apparaten instellen
Comment[no]=Konfigurer håndtering av avtagbare enheter
Comment[pa]=ਹਟਾਉਣਯੋਗ ਜੰਤਰ ਦੇ ਪ੍ਰਬੰਧਨ ਦੀ ਸੰਰਚਨਾ
Comment[pl]=Centrum zarządzania urządzeniami wymiennymi
Comment[pt]=Configurar a Gestão de Dispositívos Removíveis
Comment[pt_BR]=Configurar o Gerenciamento de Dispositivos Removíveis
Comment[sq]=Konfiguro trajtimin e dispozitivëve të heqshëm
Comment[sr]=Подесите управљање измењивим уређајима
Comment[sr@Latn]=Podesite upravljanje izmenjivim uređajima
Comment[sv]=Konfigurera hantering av löstagbara enheter
Comment[ta]=நீக்ககூடிய சாதனங்களின் மேலாண்மையை அமை
Comment[th]=ตั้งค่าการจัดการอุปกรณ์ถอดเสียบ
Comment[tr]=Ayrılabilir Aygıtların Yönetiminin Ayarlayın
Comment[uk]=Налаштовування керування змінними пристроями
Icon=gnome-dev-cdrom
Exec=gnome-volume-properties
Terminal=false
Type=Application
Categories=Application;Hardware;Settings;
OnlyShowIn=GNOME;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-volume-manager
X-GNOME-Bugzilla-Component=general
