[Desktop Entry]
Encoding=UTF-8
Name=Network Proxy
Name[af]=Netwerk instaner
Name[ar]=بروكسي الشبكة
Name[az]=Şəbəkə Vəkil Vericisi
Name[be]=Паўнамоцны паслужнік
Name[bg]=Мрежов сървър посредник
Name[bn]=নেটওয়ার্ক প্রক্সি
Name[bs]=Mrežni proxy
Name[ca]=Servidor intermediari de xarxa
Name[cs]=Proxy sítě
Name[cy]=Dirprwy Rhwydwaith
Name[da]=Netværksmellemvært
Name[de]=Netzwerk-Proxy
Name[el]=Διαμεσολαβητής Δικτύου
Name[en_CA]=Network Proxy
Name[en_GB]=Network Proxy
Name[es]=Proxy de la red
Name[et]=Võrgu proksi
Name[eu]=Sareko proxy-a
Name[fi]=Välipalvelin
Name[fr]=Proxy réseau
Name[ga]=Ionadóir Lín
Name[gu]=નેટવર્ક પ્રોક્સી
Name[he]=מתווך רשת
Name[hi]=नेटवर्क प्रॉक्सी
Name[hr]=Mrežni proxy
Name[hu]=Hálózati proxy
Name[id]=Proksi Jaringan
Name[is]=Netsel
Name[it]=Proxy di rete
Name[ja]=ネットワークのプロキシ
Name[ko]=네트워크 프록시
Name[lt]=Tarpinė tinklo stotis
Name[mk]=Мрежен прокси
Name[mn]=Сүлжээ-итгэмжилэгч
Name[ms]=Proksi Rangkaian
Name[nb]=Nettverksproxy
Name[nl]=Netwerk-proxy
Name[nn]=Mellomtenar i nettverket
Name[no]=Nettverksproxy
Name[pa]=ਨੈੱਟਵਰਕ ਪਰਾਕਸੀ
Name[pl]=Pośrednik sieciowy
Name[pt]=Proxy de Rede
Name[pt_BR]=Proxy da Rede
Name[ro]=Proxy reţea
Name[ru]=Сервис Прокси
Name[sk]=Sieťové proxy
Name[sl]=Omrežni posrednik
Name[sq]=Proxy i Rrjetit
Name[sr]=Мрежни посредник
Name[sr@Latn]=Mrežni posrednik
Name[sv]=Nätverksproxyserver
Name[ta]=வலையமைப்பு பிரதிநிதி.
Name[th]=พร็อกซี
Name[tr]=Ağ Vekili
Name[uk]=Служба проксі
Name[vi]=Proxy mạng
Name[zh_CN]=网络代理
Name[zh_TW]=網路代理伺服器
Comment=Network proxy preferences
Comment[af]=Netwerkinstaan-voorkeure
Comment[ar]=تفضيلات بروكسي الشبكة
Comment[az]=Şəbəkə vəkil qurğuları
Comment[be]=Перавагі для проксі
Comment[bg]=Настройки на мрежовия сървър посредник
Comment[bn]=নেটওয়ার্ক প্রক্সি সম্পর্কিত পছন্দ
Comment[bs]=Opcije za mrežni proxy
Comment[ca]=Preferències del servidor intermediari de xarxa
Comment[cs]=Nastavení síťové proxy
Comment[cy]=Hoffterau dirprwy rhwydwaith
Comment[da]=Indstillinger for netværksmellemvært
Comment[de]=Netzwerk-Proxy-Einstellungen
Comment[el]=Προτιμήσεις Διαμεσολαβητή Δικτύου
Comment[en_CA]=Network proxy preferences
Comment[en_GB]=Network proxy preferences
Comment[es]=Preferencias del proxy de la red
Comment[et]=Võrgu proksi häälestus
Comment[eu]=Sareko proxy-aren hobespenak
Comment[fi]=Välipalvelinasetukset
Comment[fr]=Règle votre proxy réseau
Comment[gu]=નેટવર્ક પ્રોક્સીની પસંદગીઓ
Comment[he]=העדפות מתווך רשת
Comment[hi]=नेटवर्क प्रॉक्सी वरीयताएँ
Comment[hr]=Postavke mrežnog proxyja
Comment[hu]=Hálózati proxy beállításai
Comment[id]=Pengaturan proksi jaringan
Comment[is]=Netselsstillingar
Comment[it]=Preferenze del proxy di rete
Comment[ja]=お使いのネットワークのプロキシを設定します
Comment[ko]=네트워크 프록시 기본 설정
Comment[lt]=Tarpinės tinklo stoties nustatymai
Comment[lv]=Tīkla starpservera preferences
Comment[mk]=Параметри на мрежен прокси
Comment[ml]=വലക്കെട്ട് പകരക്കാരന്റെ‌ മുന്‌ഗണനകള്
Comment[mn]=Сүлжээ-итгэмжилэгчийн тохируулга
Comment[ms]=Keutamaan proksi rangkaian
Comment[nb]=Brukervalg for nettverksproxy
Comment[nl]=Netwerkproxy-voorkeuren
Comment[nn]=Eigenskapar for mellomtenar i nettverket
Comment[no]=Brukervalg for nettverksproxy
Comment[pa]=ਨੈੱਟਵਰਕ ਪਰਾਕਸੀ ਪਸੰਦ
Comment[pl]=Ustawienia pośrednika sieciowego
Comment[pt]=Preferências da proxy de rede
Comment[pt_BR]=Preferências do proxy da rede
Comment[ro]=Opţiuni proxy reţea
Comment[ru]=Диалог настройки сервиса Прокси
Comment[sk]=Nastavenie sieťových proxy
Comment[sl]=Nastavitve posrednika omrežja
Comment[sq]=Preferimet e proxy-t të rrjetit
Comment[sr]=Поставке мрежног посредника
Comment[sr@Latn]=Postavke mrežnog posrednika
Comment[sv]=Inställningar för nätverksproxyserver
Comment[ta]=வலையமைப்பு பிரதிநிதி பண்புகள்
Comment[th]=ตั้งค่าพร็อกซี
Comment[tr]=Ağ vekil tercihleri
Comment[uk]=Параметри проксі-сервера
Comment[vi]=Tùy thích cho proxy mạng
Comment[wa]=Preferinces pol proxy del rantoele
Comment[zh_CN]=网络代理首选项
Comment[zh_TW]=網路代理伺服器偏好設定
Exec=gnome-network-preferences
Icon=stock_proxy
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;Application;Settings;Network;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=control-center
X-GNOME-Bugzilla-Component=network preferences
