[Desktop Entry]
Encoding=UTF-8
Name=Remote Desktop
Name[ar]=سطح مكتب بعيد
Name[az]=Uzaq Masa Üstü
Name[bg]=Отдалечено работно място
Name[bn]=দূরবর্তী ডেস্কটপ
Name[bs]=Udaljeni dektop
Name[ca]=Escriptori remot
Name[cs]=Vzdálená pracovní plocha
Name[da]=Fjernskrivebord
Name[de]=Entfernter Desktop
Name[el]=Απομακρυσμένη Επιφάνεια Εργασίας
Name[en_CA]=Remote Desktop
Name[en_GB]=Remote Desktop
Name[es]=Escritorio remoto
Name[eu]=Urruneko mahaigaina
Name[fi]=Etätyöpöytä
Name[fr]=Bureau à distance
Name[gu]=રીમોટ ડેસ્કટોપ
Name[hu]=Távoli munkaasztal
Name[it]=Desktop remoto
Name[ja]=リモートデスクトップ
Name[ko]=원격 데스크탑
Name[mk]=Далечна работна површина
Name[ms]=Desktop Jauh
Name[nb]=Eksternt skrivebord
Name[nl]=Bureaublad op afstand
Name[nn]=Skrivebord over nettet
Name[no]=Eksternt skrivebord
Name[or]=ଦୂର ଡେସ୍କଟପ
Name[pa]=ਰਿਮੋਟ ਵਿਹੜਾ
Name[pl]=Zdalny pulpit
Name[pt]=Área de Trabalho Remota
Name[pt_BR]=Área de Trabalho Remota
Name[ro]=Desktop la distanţă
Name[sq]=Hapësira e Punës në Distancë
Name[sr]=Удаљена радна површ
Name[sr@Latn]=Udaljena radna površ
Name[sv]=Fjärrskrivbord
Name[ta]=தொலை மேல்மேசை
Name[tr]=Uzaktaki Masaüstü
Name[uk]=Віддалена стільниця
Name[zh_CN]=远程桌面
Name[zh_TW]=遠端桌面
Comment=Set your remote desktop access preferences
Comment[ar]=إعداد تفضيلات الوصول لسطح المكتب البعيد
Comment[az]=Uzaq masa üstü qurğularınızı seçin
Comment[bn]=দূরবর্তী ডেস্কটপ ব্যবহার সংক্রান্ত অাপনার পছন্দ-সমূহ নির্ধারণ করুন
Comment[bs]=Postavite pristupne karakteristike za udaljeni desktop
Comment[ca]=Especifiqueu les preferències per a l'accés a l'escriptori remot
Comment[cs]=Nastavit přístup ke vzdálené pracovní ploše
Comment[da]=Angiv indstillinger for fjernadgang til skrivebordet
Comment[de]=Ihre Zugrifsseinstellungen auf entfernte Desktops festlegen
Comment[el]=Ορισμός των προτιμήσεων πρόσβασης της απομακρυσμένης επιφάνειας εργασίας
Comment[en_CA]=Set your remote desktop access preferences
Comment[en_GB]=Set your remote desktop access preferences
Comment[es]=Establecer preferencias de escritorio remoto
Comment[eu]=Ezarri urruneko mahaigaineko hobespenak
Comment[fi]=Aseta etätyöpöydän käyttöasetuksia
Comment[fr]=Définir les préférences d'accès de votre bureau à distance
Comment[gu]=તમારા રીમોટ ડેસ્કટોપ ચલાવવાની પસંદગીઓ સુયોજિત કરો
Comment[hu]=Távoli munkaasztal elérésének beállításai
Comment[it]=Imposta le preferenza di accesso remoto al proprio desktop
Comment[ja]=リモートデスクトップアクセスを設定します
Comment[ko]=원격 데스크탑 접근 설정을 합니다
Comment[mk]=Подесете ги параметрите за далечен пристап на Вашата работна површина
Comment[ms]=Tetapkan keutamaan akses desktop jauh anda
Comment[nl]=Uw bureaublad-op-afstand toegangsvoorkeuren instellen
Comment[nn]=Brukarval for skrivebord over nettet
Comment[or]=ଦୂର ଡେସ୍କଟପ ପ୍ରବେଶାନୁମତି ପସନ୍ଦ ବିନ୍ଯାସ କରନ୍ତୁ
Comment[pa]=ਆਪਣੀ ਰਿਮੋਟ ਵਿਹੜਾ ਪਹੁੰਚ ਪਸੰਦ ਨਿਰਧਾਰਿਤ ਕਰੋ
Comment[pl]=Ustawienia dostępu zdalnego pulpitu
Comment[pt]=Defina as suas preferências de acesso da área de trabalho remota
Comment[pt_BR]=Defina suas preferências de acessa a área de trabalho remota
Comment[ro]=Setaţi opţiunile de accesare a desktopului la distanţă
Comment[sq]=Cakto pëlqimet e hyrjes në hapësirën e punës në distancë
Comment[sr]=Поставке за приступ вашој удаљеној радној површи
Comment[sr@Latn]=Postavke za pristup vašoj udaljenoj radnoj površi
Comment[sv]=Ställ in dina inställningar för åtkomst till fjärrskrivbord
Comment[ta]=உங்கள் தொலை மேல்மேசை விருப்பங்களை அமைக்கவும்
Comment[tr]=Uzaktaki masaüstüne erişim tercihlerinizi belirleyin
Comment[uk]=Встановлення параметрів віддаленого дисплею
Comment[zh_CN]=设置您的远程桌面访问首选项
Comment[zh_TW]=設定您的遠端桌面存取偏好
Exec=vino-preferences
Icon=gnome-remote-desktop.png
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;Application;Settings;Network;
