Package: gelux-main-init
Version: 0.9.3.1
Source: gelux-main-init
Section: base
Priority: optional
Maintainer: Marc Kalberer <marc.kalberer@programmers.ch>
Depends: debhelper (>= 4.0.0)
Architecture: i386
Provides: gelux-main-init
Description: Gelux mainmod livecd boot scripts
 This package contains the default boot scripts for a Gelux
 mainmodule. 
