[Desktop Entry]
Name=Boot
Name[ar]=إقلاع
Name[az]=Açılış
Name[bg]=Начално стартиране
Name[bn]=বুট করো
Name[ca]=Arrencada
Name[cs]=Zavedení
Name[da]=Maskinstart
Name[de]=Systemstart
Name[el]=Boot
Name[en_CA]=Boot
Name[en_GB]=Boot
Name[es]=Arranque
Name[eu]=Abioa
Name[fi]=Käynnistys
Name[fr]=Démarrage
Name[gu]=બુટ
Name[hr]=Pokretani sustav
Name[hu]=Rendszerindítás
Name[it]=Boot
Name[ja]=起動の管理
Name[ko]=부트
Name[lt]=Įkelties nustatymai
Name[lv]=Sāknēt
Name[mk]=Подигнување
Name[mn]=Эхлүүлэл
Name[ms]=But
Name[nl]=Opstartbeheer
Name[no]=Oppstart
Name[pa]=ਬੂਟ
Name[pl]=Rozruch systemu
Name[pt]=Arranque
Name[pt_BR]=Inicialização
Name[ro]=Boot
Name[sk]=Bootovanie
Name[sq]=Nisja
Name[sr]=Подизање система
Name[sr@Latn]=Podizanje sistema
Name[sv]=Start
Name[ta]=துவக்கம்
Name[tr]=Önyükleme
Name[uk]=Завантаження
Name[vi]=Khởi động
Name[wa]=Enondaedje
Name[zh_CN]=引导
Name[zh_TW]=系統啟動
Comment=Configure the system boot process
Comment[ar]=إعداد عمليّة إقلاع النّظام
Comment[bg]=Настройка на процеса на начално стартиране
Comment[bn]=সিস্টেম বুট প্রক্রিয়াটি কনফিগার করো
Comment[ca]=Configura el pocés d'arrencada del sistema
Comment[cs]=Nastavit proces zavádění systému
Comment[da]=Konfigurér systemets startprocedure
Comment[de]=Den Boot-Vorgang konfigurieren
Comment[el]=Ρύθμιση της διεργασίας boot συστήματος
Comment[en_CA]=Configure the system boot process
Comment[en_GB]=Configure the system boot process
Comment[es]=Configurar el proceso de arranque del sistema
Comment[eu]=Konfiguratu sistemaren abio-prozesua
Comment[fi]=Määrittele järjestelmän käynnistyksen asetukset
Comment[fr]=Configuration du processus de démarrage
Comment[gu]=સિસ્ટમની બુટ પ્રક્રિયા રુપરેખાંકિત કરો
Comment[hr]=Podesite postupak podizanja sustava
Comment[hu]=A rendszerindítási folyamat beállítása
Comment[it]=Configura il processo di avvio del sistema
Comment[ja]=システム起動のプロセスを設定します
Comment[ko]=시스템 부트 진행을 설정합니다
Comment[lt]=Konfigūruok sistemos įkelties procesą
Comment[mk]=Конфигурирајте го процесот за подигнување на системот
Comment[ms]=Konfigurasikan proses but sistem
Comment[nl]=Opstartproces van het systeem configureren
Comment[no]=Konfigurer systemets oppstartsprosess
Comment[pa]=ਸਿਸਟਮ ਬੂਟ ਕਾਰਜ ਸੰਰਚਨਾ
Comment[pl]=Konfiguracja procesu uruchamiania systemu
Comment[pt]=Configurar o processo de arranque do sistema
Comment[pt_BR]=Configurar o processo de inicializacao do sistema
Comment[ro]=Configuraţi procesul de boot al sistemului
Comment[sk]=Nastavenie štartu systému
Comment[sq]=Konfigurimi i proçesit të nisjes së sistemit
Comment[sr]=Подесите поступак подизања система
Comment[sr@Latn]=Podesite postupak podizanja sistema
Comment[sv]=Konfigurera systemstartprocessen
Comment[ta]=கணினியின் துவக்க செயலை அமை
Comment[tr]=Sistem önyükleme sürecini yapılandır
Comment[uk]=Налаштовування процесу завантаження системи
Comment[zh_CN]=配置系统引导过程
Comment[zh_TW]=設定系統開機程序
Exec=boot-admin
Icon=/usr/share/gnome-system-tools/pixmaps/boot.png
Terminal=false
Type=Application
Categories=Application;Settings;System
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-system-tools
X-GNOME-Bugzilla-Component=boot-admin
StartupNotify=true
Encoding=UTF-8
