[Desktop Entry]
Encoding=UTF-8
Name=Configuration Editor
Name[am]=የማስተካከያው አራሚ
Name[ar]=محرّر الإعدادات
Name[az]=Quraşdırma Editoru
Name[be]=Рэдактар наладак
Name[bg]=Редактор на настройки
Name[bn]=কনফিগারেশন এডিটর
Name[bs]=Editor za podešavanja
Name[ca]=Editor de la configuració
Name[cs]=Editor nastavení
Name[cy]=Golygydd Cyfluniad
Name[da]=Konfigurationsredigering
Name[de]=Konfigurationseditor
Name[el]=Επεξεργαστής Ρυθμίσεων
Name[en_CA]=Configuration Editor
Name[en_GB]=Configuration Editor
Name[es]=Editor de configuración
Name[et]=Konfiguratsiooniredaktor
Name[eu]=Konfigurazio-editorea
Name[fa]=پیکربندی ویراستار
Name[fi]=Asetusten muokkain
Name[fr]=Éditeur de configuration GConf
Name[ga]=Eagarthóir an Socrú
Name[gl]=Editor da configuración
Name[gu]=રુપરેખા સંપાદક
Name[he]=עורך הגדרות
Name[hi]=कॉन्फ़िगरेशन संपादक
Name[hr]=Uređivač postavki
Name[hu]=Konfigurációszerkesztő
Name[id]=Editor Konfigurasi
Name[it]=Editor della configurazione
Name[ja]=設定エディタ
Name[ko]=설정 편집기
Name[li]=Kóngfiggerasie-editor
Name[lt]=Konfigūracijos redaktorius
Name[lv]=Konfigurācijas Redaktors
Name[mk]=Конфигурациски уредувач
Name[ml]=സജ്ജീകരണ സംശോധകന്‍
Name[mn]=Тохируулга боловсруулагч
Name[mr]=कानफिगरेशन एडीटर
Name[ms]=Pengedit Konfigrasi
Name[nb]=Konfigurasjon
Name[ne]=सम्पादक ढाँचा
Name[nl]=Configuratie-editor
Name[no]=Konfigurasjon
Name[or]=ବିନ୍ଯାସ ସମ୍ପାଦକ
Name[pa]=ਸੰਰਚਨਾ ਸੰਪਾਦਕ (ਕਾਨਫੀਗਰੇਸ਼ਨ ਐਡੀਟਰ)
Name[pl]=Edytor konfiguracji
Name[pt]=Editor de Configuração
Name[pt_BR]=Editor de Configurações
Name[ro]=Editor de configurare
Name[ru]=Редактор настроек
Name[sk]=Konfiguračný editor
Name[sl]=Urejevalnik nastavitev
Name[sq]=Editori i konfigurimit
Name[sr]=Уређивач подешавања
Name[sr@Latn]=Uređivač podešavanja
Name[sv]=Konfigurationsredigerare
Name[ta]=வடிவமைப்பு தொகுப்பான்
Name[th]=เครื่องมือแก้ไขการกำหนดค่า
Name[tr]=Yapılandırma Düzenleyici
Name[uk]=Редактор конфігурації
Name[vi]=Trình Biên Soạn Cấu Hình
Name[zh_CN]=配置编辑器
Name[zh_TW]=組態編輯器
Comment=Directly edit your entire configuration database
Comment[ar]=تحرير مباشر لكامل إعدادات قاعدة البيانات
Comment[az]=Birbaşa bütün quraşdırma verilənlər bazasını düzəlt
Comment[be]=Наўпрост рэдагуе ўсю базу даньняў наладак
Comment[bg]=Директно редактиране на цялата база с настройки
Comment[bn]=তোমার সম্পূর্ণ ডাটাবেইস কনফিগারেশন সম্পাদনা কর
Comment[bs]=Neposredno izmijenite cijelu bazu podataka sa podešavanjima
Comment[ca]=Edita directament la base de dades de la configuració sencera
Comment[cs]=Editujte přímo vaši databázi s nastavením
Comment[cy]=Golygu'ch storfa cyfluniad yn uniongyrchol
Comment[da]=Ret i hele konfigurationsdatabasen
Comment[de]=Direkten Zugriff auf Ihre gesamte Konfigurationsdatenbank erlangen
Comment[el]=Απευθείας επεξεργασία ολόκληρης της βάσης δεδομένων ρυθμίσεων
Comment[en_CA]=Directly edit your entire configuration database
Comment[en_GB]=Directly edit your entire configuration database
Comment[es]=Edite directamente su base de datos de configuración completa
Comment[et]=Redigeeri tervet oma konfiguratsiooniandmebaasi
Comment[eu]=Editatu zuzenean konfigurazioaren datu-base osoa
Comment[fa]=ویرایش مستقیم کل پایگاه‌داده‌ی پیکربندی
Comment[fi]=Muokkaa suoraan koko asetustietokantaasi
Comment[fr]=Édite directement toute votre base de données de configuration GConf
Comment[gl]=Editar directamente a base de datos completa da configuración
Comment[gu]=તમારા અાખા ડેટાબેઝની રુપરેખામાં સીધો ફેરફાર કરો
Comment[he]=ערוך ישירות את כל מסד הנתונים של ההגדרות שלך
Comment[hi]=आपके सम्पूर्ण कॉन्फ़िगरेशन डेटाबेस को सीधे संपादित करें
Comment[hr]=Direktno ažuriraj cijelu konfiguracijsku bazu podataka
Comment[hu]=A konfigurációs adatbázisát szerkeszti közvetlenül
Comment[id]=Edit langsung semua database konfigurasi
Comment[it]=Modificare direttamente l'intero database della configurazione
Comment[ja]=設定データベース全体を直接編集します
Comment[ko]=전체 설정 데이타베이스를 직접 편집합니다
Comment[li]=De ganse kóngfiggerasie-database direk bewirke
Comment[lt]=Tiesiogiai keiskit Jūsų visą konfigūracijos duomenų bazę
Comment[lv]=Pa tiešo rediģē visu konfigurācijas datubāzi
Comment[mk]=Директно изменување на целосната база на конфигурација
Comment[ml]=താങ്കളുടെ രൂപരേഖാ വിവരങ്ങള് മുഴുവനും ഒരുമിച്ച് സജ്ജീകരിക്കുക
Comment[mn]=Бүхийл тохируулгын өгөгдлийн баазад шууд хандах боломж
Comment[mr]=आपल्या सम्पूर्ण कानफिगरेशन डाटाबेस मध्ये थेट बदल करा
Comment[ms]=Edit keseluruhan pangkalandata konfigurasi anda.
Comment[nb]=Rediger hele konfigurasjonsdatabasen direkte
Comment[nl]=De gehele configuratie-database rechtstreeks bewerken
Comment[no]=Rediger hele konfigurasjonsdatabasen direkte
Comment[or]=ସିଧାସଳଖ ଭାବରେ ସମସ୍ତ ବିନ୍ଯାସ ତଥ୍ଯଧାର ସମ୍ପାଦନ କରନ୍ତୁ
Comment[pa]=ਤੁਸੀ ਆਪਣੀ ਪੂਰੀ ਸੰਰਚਨਾ (ਕਾਨਫੀਗਰੇਸ਼ਨ) ਡੇਟਾਬੇਸ ਨੂੰ ਸੋਧ ਸਕਦੇ ਹੋ
Comment[pl]=Narzędzie do bezpośredniej modyfikacji bazy danych z konfiguracją
Comment[pt]=Edite directamente toda a sua base de dados de configuração
Comment[pt_BR]=Edite diretamente o banco de dados de configuração
Comment[ro]=Editează direct întreaga configuraţie GConf
Comment[ru]=Программа позволяет напрямую редактировать всю базу данных настроек
Comment[sk]=Priamo upraviť celú Vašu konfiguračnú databázu
Comment[sl]=Neposredno urejaj celotno zbirko podatkov nastavitev
Comment[sq]=Ndrysho drejtpërsëdrejti të gjithë databazën e konfigurimit
Comment[sr]=Непосредно уредите вашу базу са подешавањима
Comment[sr@Latn]=Neposredno uredite vašu bazu sa podešavanjima
Comment[sv]=Redigera hela din konfigurationsdatabas direkt
Comment[ta]=உங்கள் ஒட்டுமொத்த வடிவமைப்பையும் நேரடியாக தொகுக்கலாம்
Comment[th]=แก้ไขฐานข้อมูลการกำหนดค่าของคุณโดยตรง
Comment[tr]=Bütün yapılandırma veritabanınızı doğrudan düzenleyin
Comment[uk]=Безпосереднє редагування конфігураційної бази даних
Comment[vi]=Trực tiếp biên soạn toàn bộ cơ sở dữ liệu về cấu hình của bạn
Comment[zh_CN]=直接编辑您的整个配置数据库
Comment[zh_TW]=可直接修改所有 GNOME 組態
Exec=gconf-editor
Terminal=false
Type=Application
Categories=Application;Settings;AdvancedSettings;X-Red-Hat-Base;
Icon=gconf-editor.png
StartupNotify=true
Categories=GNOME;Application;System;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gconf-editor
X-GNOME-Bugzilla-Component=general
