[Desktop Entry]
Name=Networking
Name[ar]=الشّبكيّة
Name[az]=Şəbəkə
Name[bg]=Мрежа
Name[bn]=নেটওয়ার্কিং
Name[ca]=Xarxa
Name[cs]=Sítě
Name[da]=Netværk
Name[de]=Netzwerk
Name[el]=Δίκτυο
Name[en_CA]=Networking
Name[en_GB]=Networking
Name[es]=Red
Name[eu]=Sarea
Name[fi]=Verkkoasetukset
Name[fr]=Réseau
Name[gu]=નેટવર્કીંગ
Name[hr]=Mreža
Name[hu]=Hálózat
Name[it]=Rete
Name[ja]=ネットワークの管理
Name[ko]=네트워크
Name[lt]=Tinklo nustatymai
Name[lv]=Tīkli
Name[mk]=Мрежа
Name[mn]=Сүлжээ
Name[ms]=Rangkaian
Name[nl]=Netwerk
Name[nn]=Nettverk
Name[no]=Nettverk
Name[pa]=ਨੈਟਵਰਕਿੰਗ
Name[pl]=Ustawienia sieci
Name[pt]=Utilização de Rede
Name[pt_BR]=Rede
Name[ro]=Reţea
Name[sk]=Sieť
Name[sq]=Në rrjet
Name[sr]=Умрежавање
Name[sr@Latn]=Umrežavanje
Name[sv]=Nätverk
Name[ta]=வலைப்பின்னல்
Name[tr]=Ağ
Name[uk]=Мережа
Name[vi]=Mạng làm việc
Name[wa]=Rantoele
Name[zh_CN]=联网
Name[zh_TW]=網路
Comment=Configure network devices and connections
Comment[ar]=تهيئة أجهزة الشّبكة و اتّصالاتها
Comment[bg]=Настройка на мрежови устройства и връзки
Comment[bn]=নেটওয়ার্ক ডিভাইস এবং সংযোগ কনফিগার করুন
Comment[ca]=Configura els dispositius de xarxa i les connexions
Comment[cs]=Nastavit síťové zařízení a spojení
Comment[da]=Konfigurér netværksenheder og -forbindelser
Comment[de]=Netzerwerkschnittstellen und -verbindungen konfigurieren
Comment[el]=Ρύθμιση συσκευών δικτύου και συνδέσεων
Comment[en_CA]=Configure network devices and connections
Comment[en_GB]=Configure network devices and connections
Comment[es]=Configurar los dispositivos de red y las conexiones
Comment[eu]=Konfiguratu sareko gailu eta konexioak
Comment[fi]=Määrittele verkkolaitteiden ja yhteyksien asetuksia
Comment[fr]=Configurer les interfaces réseau et les connexions
Comment[gu]=નેટવર્ક ઉપકરણો અને જોડાણો રુપરેખાંકિત કરી રહ્યા છીએ
Comment[hr]=Postavlja mrežne uređaje i veze
Comment[hu]=Hálózati eszközök és kapcsolatok beállítása
Comment[it]=Configura i dispositivi e le connessioni di rete
Comment[ja]=ネットワーク・デバイスの接続を設定します
Comment[ko]=네트워크 장치와 연결을 설정합니다
Comment[lt]=Konfigūruokite tinklo įrenginius ir prisijungimus
Comment[mk]=Конфигурирај мрежни уреди и врски
Comment[ms]=Konfigurasikan peranti dan sambungan rangkaian
Comment[nl]=Netwerkapparaten en -verbindingen instellen
Comment[no]=Konfigurer nettverksenheter og tilkoblinger
Comment[pa]=ਨੈੱਟਵਰਕ ਜੰਤਰ ਤੇ ਕੁਨੈਕਸ਼ਨ ਸੰਰਚਨਾ
Comment[pl]=Konfiguracja urządzeń sieciowych i połączeń
Comment[pt]=Configurar dispositivos de rede e ligações
Comment[pt_BR]=Configurar dispositivos de rede e conexões
Comment[ro]=Configurare conexiuni şi dispozitive de reţea
Comment[sk]=Nastavenie sieťových rozhraní a pripojení
Comment[sq]=Konfigurimi i dispozitivëve dhe lidhjeve të rrjetit
Comment[sr]=Подесите мрежне уређаје и везе
Comment[sr@Latn]=Podesite mrežne uređaje i veze
Comment[sv]=Konfigurera nätverksenheter och nätverksanslutningar
Comment[ta]=வலைப்பின்னல் சாதனம் மற்றும் இணைப்பை அமைக்கவும்
Comment[tr]=Ağ aygıtlarını ve bağlantılarını yapılandır
Comment[uk]=Налаштовування мережних пристроїв та з'єднань
Comment[wa]=Apontyî les éndjins eyet raloyaedjes rantoele
Comment[zh_CN]=配置网络设备和连接
Comment[zh_TW]=設定網路裝置與連線
Exec=network-admin
Icon=/usr/share/gnome-system-tools/pixmaps/network.png
Terminal=false
Type=Application
Categories=Application;Settings;Network
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-system-tools
X-GNOME-Bugzilla-Component=network-admin
StartupNotify=true
Encoding=UTF-8
